<head>
    <title>Threat Reputation</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@2.0.0" integrity="sha384-wS5l5IKJBvK6sPTKa2WZ1js3d947pvWXbPJ1OmWfEuxLgeHcEbjUUA5i9V5ZkpCw" crossorigin="anonymous"></script>
</head>

<body>
    <div class="flex w-full h-16 bg-green-700">
        <div class="flex w-1/5 h-full items-center justify-center"><a href="/" class="text-white text-2xl">Threat Reputation Tracker</a></div>
        <div class="flex flex-row-reverse w-4/5 h-full items-center content-right gap-x-6 mr-8">
            <form class="flex items-center h-full m-0 w-2/6"  hx-get="/search" hx-target="#content-box">
                <input class="h-4/6 w-full rounded-md pl-2" type="search" name="search"   placeholder="Search Threats (SHA256 or File Name)">
            </form>
            <button class="bg-red-700 rounded border-2 border-white text-white py-2 px-4 hover:bg-green-600" data-open-modal>+ Add New Threat</button>
        </div>
    </div>
    <dialog data-modal class="w-2/5 h-96">
        <div class="flex flex-col content-center flex-grow flex-nowrap items-center mt-4 h-fill text-center">
            <h1 class="text-3xl font-semibold">Add New Threat</h1>
            <form class="w-4/5 h-4/5" hx-post="/newthreat" hx-target="#popupbox" hx-swap="outerHTML">
                <label class="block mt-4" for="filename">Malicious File's Name</label>
                <input class="block h-10 w-full border-2 border-gray-500 text-lg" type="text" name="filename" id="filename">
                <label class="block mt-4" for="filehash">Malicious File's SHA256 Hash</label>
                <input class="block h-10 w-full border-2 border-gray-500 text-lg" type="text" name="filehash" id="filehash">
                <button class="rounded border-2 border-green-700 px-10 py-1 hover:bg-gray-200 mt-4" type="submit">Submit</button>
            </form>
            <button data-close-modal class="rounded border-2 border-red-700 px-4 py-1 hover:bg-gray-200">Cancel</button>
        </div>
    </dialog>
</body>

<div id="content-box">
    <div id="popupbox" class="hidden"></div>
    <h1 class="text-center mt-4 mb-4 text-3xl font-semibold">Statistics</h1>
    <div class="flex m-auto w-2/6 h-28 mt-2 grow-0 justify-around content-center">
        {{range .Stats}}
            <div class="flex-col border-2 border-blue-700 max-w-40 text-center content-center justify-center rounded">
                <h1 class="font-bold">{{.Title}}</h1>
                <p class="text-2xl">{{.Value}}</p>
            </div>
        {{end}}
    </div>

    
    <div class="rounded border-2 border-pink-400 mt-12 w-1/4 mx-auto">
        <h1 class="text-center mb-4 text-3xl font-semibold">Recent Threats</h1>
        {{if .Threats}}
        <div class="flex flex-col m-auto gap-y-4 px-4">
            {{range .Threats}}
                <div><p class="text-center text-blue-700 hover:text-purple-700 text-lg break-words" hx-get="/threat/{{.ID}}" hx-target="#content-box">{{.Filename}}</p></div>
            {{end}}
        </div>
        {{else}}
        <h2 class="text-center mt-4 text-xl font-semibold">No Threats Found!</h2>
        {{end}}
    </div>
</div>

<script>
    const openButton = document.querySelector("[data-open-modal]")
    const closeButton = document.querySelector("[data-close-modal]")
    const modal = document.querySelector("[data-modal]")

    openButton.addEventListener("click", () => { 
        modal.showModal()
    })

    closeButton.addEventListener("click", () => {
        modal.close()
    })
</script>